/* 
    File     : _base.scss
    Date     : Sep 28, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

body {
  @include text($base__font-size, $l-height: 1.25em, $color: $text-color);
  background: $background-color;
  font-family: $font-family--primary;
  position: relative;
}

h1, h2, h3 {
  font-family: $font-family--secondary;
  letter-spacing: .5px;
}

h1, h2 {
  text-align: center;
  margin-bottom: em(20px);
}


h3 {
  margin-bottom: em(15px);
}
