/* 
    File     : _base.scss
    Date     : Sep 28, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

body {
  position: relative;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}


h2 {
  margin-bottom: em(15px);
}

h3 {
  margin-bottom: em(15px);
}
