// Filename: _config.scss
// Date: 21 Jul 16
// Programmer: Jaymes Young-Liebgott


// ===============================
// Global Config
// ==============================

// Font stacks
$font-url--google           : 'https://fonts.googleapis.com/css?family=Germania+One|Open+Sans:400,700';
$font-family--primary       : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary     : 'Germania One', 'Brush Script MT', cursive;


// Font weights 
$font-weight--bold          : 700; 

// http://paletton.com/#uid=43+0u0ksSIb8PMvkqGcNgDPTRrj
// Decriptive color variables

$white                  : #fff;
$black                  : #000;
$light-grey             : #ededed;
$lightning-yellow       : #ffc519;
$governor-bay           : #3131d2;
$cold-purple            : #a9a9dc;
$colonial-white         : #ffedb9;

$masculine              : #89cff0;
$feminine               : #f4c2c2;
$neuter                 : #efdecd;


// Functional color variables
$text-color             : $black;
$header-text            : $lightning-yellow;
$header-footer-bg-color : $governor-bay;
$background-color       : $cold-purple;

$bg-card-color          : $colonial-white;

$link-color             : $lightning-yellow;
$link-hover-color       : $colonial-white;
$link-hover-bg-color    : $cold-purple;

$form-color             : $governor-bay;
$form-heading-color     : $lightning-yellow;
$form-label-color       : $colonial-white;
$form-border-color      : $lightning-yellow;
$form-widget-bg-color   : $colonial-white;
$form-widget-bg-focus   : $cold-purple;
$form-button-color      : $governor-bay;
$form-button-bg-color   : $cold-purple;

$table-row-alt-color    : $white;

$card-text-bg-color     : lighten($colonial-white, 8%);
$card-border-color      : $black;

$word-list-bg-color     : $colonial-white;

// Text
$base__font-size        : 16px;
$base__line             : 24px;


// Misc variables
$brd-radius             : 5px;


// Media query breakpoints
$brk-sm             : '(min-width: 544px)';
$brk-md             : '(min-width: 720px)';
$brk-lg             : '(min-width: 940px)';
$brk-xl             : '(min-width: 1140px)';

$brk-h-sm           : '(min-height: 600px)';
$brk-h-md           : '(min-height: 700px)';
