
# Ignore node modules
node_modules/

# Ignore netbeans
nbproject/

# Ignore dist folder
dist/

# Ignore mock data
mock/

# Ignore img folder
assets/img

# Ignore CSS folder
assets/css

# Sensitive data
assets/inc/db-constants.php