
# Ignore node modules
node_modules/

# Ignore netbeans
nbproject/

# Ignore dist folder
dist/

# Ignore mock data
mock/

# Ignore img folder
assets/img

# Ignore CSS folder
assets/css

# Sensitive data
assets/inc/db-constants.php

# Ignore app and app.js file
app/app.js
app/app.js.map
app/app.min.js