<!DOCTYPE html>
<!--
  File     : index.html
  Date     : Sep 28, 2016
  Author   : Jaymes Young <jaymes@phoenixjaymes.com>
-->
<html lang="en" ng-app="flashcards">
  <head>
    <title>Flashcards</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>

  <body ng-controller="Main">
    <header class="main-header">
      <div class="main-header__wrap">
        <img class="main-header__logo" src="assets/img/flashcard-icon.svg" alt="flash cards logo">
        <p class="main-header__name">Flash Cards</p>
        <nav class="main-header__nav">
          <ul class="main-menu">
            <li class="main-menu__item" ng-class="{'main-menu__item-current' : sectionType == 'home'}" ng-click="sectionType='home'"><a href="">Home</a></li>
            <li class="main-menu__item" ng-class="{'main-menu__item-current' : sectionType == 'cards'}" ng-click="sectionType='cards'"><a href="">German</a></li>
            <li class="main-menu__item" ng-click="sectionType='cards'"><a href="">Dutch</a></li>
          </ul>
        </nav>
        <div class="main-header__settings">
          <a href="" class="main-header__settings-icon" ng-class="loggedIn ? 'ang-logout' : 'ang-login'" ng-click="showOptions();"></a>
          <ul class="options-menu" ng-class="displayOptions ? 'ang-show-options' : 'ang-hide-options' ">
            <li class="options-menu__item"><a href="" ng-click="displayForm('addcategory')">Add Category</a></li>
            <li class="options-menu__item"><a href="" ng-click="displayForm('addverb')">Add Verb</a></li>
            <li class="options-menu__item"><a href="" ng-click="displayForm('addword')">Add Word</a></li>
            <li class="options-menu__item"><a href="" ng-click="displayForm('addphrase')">Add Phrase</a></li>
            <li class="options-menu__item"><a href="" ng-click="displayForm('updateword')">Update Word</a></li>
            <li class="options-menu__item"><a href="" ng-click="logOut()">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main-content">
      <div class="main-content__wrap" ng-switch="sectionType">
        <cards ng-switch-when="cards"></cards>
        <home ng-switch-default></home>
      </div>
    </main>
    
<login ng-class="{'modal' : displayLogin}"></login>
<addword ng-class="{'modal' : displayAddWord}"></addword>
<addVerb ng-class="{'modal' : displayAddVerb}"></addVerb>
<updateword ng-class="{'modal' : displayUpdateWord}"></updateword>
<addcategory ng-class="{'modal' : displayAddCategory}"></addcategory>
<addphrase ng-class="{'modal' : displayAddPhrase}"></addphrase>
<register ng-class="{'modal' : displayRegister}"></register>

    <footer class="main-footer">
      <div class="main-footer__wrap">
        <small>&copy;2016 PhoenixJaymes</small>
      </div>
    </footer>
    
    <script src="node_modules/angular/angular.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>
