<!DOCTYPE html>
<!--
  File     : index.html
  Date     : Sep 28, 2016
  Author   : Jaymes Young <jaymes@phoenixjaymes.com>
-->
<html lang="en" ng-app="flashcards">
  <head>
    <title>German and Dutch Flashcards</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
   
    
    <meta name="description" content="German and Dutch Flashcards to help with language learning">
    <meta property="og:title" content="German and Dutch Flashcards">
    <meta property="og:image" content="http://phoenixjaymes.com/lab/flashcards/assets/img/flashcards-og.jpg">
    <meta property="og:description" content="German and Dutch Flashcards to help with language learning">
    <meta property="og:url" content="http://phoenixjaymes.com/lab/flashcards">
    <meta property="og:site_name" content="PhoenixJaymes Web Devlopment">
    <meta property="og:type" content="website">
    
  </head>

  <body ng-controller="Main">
    <header class="main-header">
      <div class="main-header__wrap">
        <img class="main-header__logo" src="assets/img/flashcard-icon.svg" alt="flash cards logo">
        <p class="main-header__name">Flash Cards</p>
        <nav class="main-header__nav">
          <ul class="main-menu">
            <li class="main-menu__item" ng-class="{'main-menu__item-current' : sectionType == 'home'}" ng-click="sectionType='home'"><a href="">Home</a></li>
            <li class="main-menu__item" ng-class="{'main-menu__item-current' : sectionType == 'cards'}" ng-click="sectionType='cards'"><a href="">German</a></li>
            <li class="main-menu__item" ng-click="sectionType='dutch'"><a href="">Dutch</a></li>
          </ul>
        </nav>
        <div class="main-header__settings">
          <a href="" class="main-header__settings-icon" ng-class="loggedIn ? 'ang-logout' : 'ang-login'" ng-click="showOptions();"></a>
          <ul class="options-menu" ng-class="displayOptions ? 'ang-show-options' : 'ang-hide-options' ">
            <li class="options-menu__item"><a href="" ng-click="displayForm('displayAddCategory')">Add Category</a></li>
            <li class="options-menu__item"><a href="" ng-click="displayForm('displayAddVerb')">Add Verb</a></li>
            <li class="options-menu__item"><a href="" ng-click="displayForm('displayAddWord')">Add Word</a></li>
            <li class="options-menu__item"><a href="" ng-click="displayForm('displayAddPhrase')">Add Phrase</a></li>
            <li class="options-menu__item"><a href="" ng-click="displayForm('displayUpdateWord')">Update Word</a></li>
            <li class="options-menu__item"><a href="" ng-click="displayForm('displayListWords')">List Words</a></li>
            <li class="options-menu__item"><a href="" ng-click="logOut()">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main-content">
      <div class="main-content__wrap" ng-switch="sectionType">
        <cards ng-switch-when="cards"></cards>
        <dutch ng-switch-when="dutch"></dutch>
        <home ng-switch-default></home>
      </div>
    </main>
    
<login ng-class="{'modal' : formDisplay.displayLogin}"></login>
<addword ng-class="{'modal' : formDisplay.displayAddWord}"></addword>
<addVerb ng-class="{'modal' : formDisplay.displayAddVerb}"></addVerb>
<addcategory ng-class="{'modal' : formDisplay.displayAddCategory}"></addcategory>
<addphrase ng-class="{'modal' : formDisplay.displayAddPhrase}"></addphrase>
<updateword ng-class="{'modal' : formDisplay.displayUpdateWord}"></updateword>
<list-words ng-class="{'modal' : formDisplay.displayListWords}"></list-words>
<register ng-class="{'modal' : formDisplay.displayRegister}"></register>

    <footer class="main-footer">
      <div class="main-footer__wrap">
        <small>&copy;2016 PhoenixJaymes</small>
      </div>
    </footer>
    
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>
