<!DOCTYPE html>
<!--
  File     : index.html
  Date     : Sep 28, 2016
  Author   : Jaymes Young <jaymes@phoenixjaymes.com>
-->
<html lang="en" ng-app="flashcards">
  <head>
    <title>Flashcards</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>

  <body ng-controller="Main">
    <header class="main-header">
      <div class="main-header__wrap">
        <img class="main-header__logo" src="assets/img/flash-cards.svg" alt="flash cards logo">
        <p class="main-header__name">Flash Cards</p>
        <nav class="main-header__nav">
          <ul class="main-menu">
            <li class="main-menu__item" ng-click="sectionType='home'"><a href="">Home</a></li>
            <li class="main-menu__item" ng-click="sectionType='cards'"><a href="">German</a></li>
            <li class="main-menu__item" ng-click="sectionType='cards'"><a href="">Dutch</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-content">
      <div class="main-content__wrap" ng-switch="sectionType">
        <cards ng-switch-when="cards"></cards>
        <cards ng-switch-default></cards>
      </div>
    </main>

    <footer class="main-footer">
      <div class="main-footer__wrap">
        <small>&copy;2016 PhoenixJaymes</small>
      </div>
    </footer>
    
    <script src="node_modules/angular/angular.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>