<form class="form">
  <div class="form-header">
    <a class="form-header__btn" href="" ng-click="$emit('closeModal', 'displayAddCategory')">X</a>
    <h3 class="form-header__text">Add a Category</h3>
  </div>

  <label class="form__label" for="txtCategory">Name</label>
  <input id="txtCategory" class="form__input" ng-model="formAddCategory.name" type="text">
  
  <button class="form__button" ng-model="formAddCategory.Submit" ng-click="addCategory()">Add Category</button>
  
  <formmessage class="form-message" ng-class="{'ang-show-message' : displayFormMessage}"></formmessage>  
</form>