<form class="form add-verb-form" name="formAddVerb">
  <closebutton class="form__close-button"></closebutton>
  <h3 class="form__heading">Add a New Verb</h3>
  
  <label class="form__label--check" for="txtSeparable">Separable</label>
  <input id="txtSeparable" class="form__check" type="checkbox" ng-model="verb.separable">
  
  <label class="form__label" for="txtEnglish">English</label>
  <input id="txtPos" class="form__input" type="text" ng-model="verb.english">
  
  <label  class="form__label" for="txtTranslation">Translation</label>
  <input id="txtWord" class="form__input" type="text" ng-model="verb.translation">
  
  <label class="form__label" for="txtIch">ich</label>
  <input id="txtIch" class="form__input" type="text" ng-model="verb.ich">
  
  <label class="form__label" for="txtDu">du</label>
  <input id="txtDu" class="form__input" type="text" ng-model="verb.du">
  
  <label class="form__label" for="txtErEsSie">er, sie, es</label>
  <input id="txtErEsSie" class="form__input" type="text" ng-model="verb.er_sie_es">
  
  <label class="form__label" for="txtWir">wir</label>
  <input id="txtWir" class="form__input" type="text" ng-model="verb.wir">
  
  <label class="form__label" for="txtIhr">ihr</label>
  <input id="txtIhr" class="form__input" type="text" ng-model="verb.ihr">
  
  <label class="form__label" for="txtSieSie">sie, Sie</label>
  <input id="txtSieSie" class="form__input" type="text" ng-model="verb.sie_sie">  

  <button  class="form__button" ng-model="loginSubmit" ng-click="addVerb()">Add Verb</button>
  
  <formmessage class="form-message" ng-class="{'ang-show-message' : displayFormMessage}"></formmessage>
</form>