<closebutton></closebutton>

<form class="add-phrase-form" name="formAddPhrase">
  <h3>Add a Phrase</h3>
  <label class="form__label" for="txtEnglish">English</label>
  <input id="txtEnglish" class="form__input" ng-model="phrase.english" type="text">
  
  <label class="form__label" for="txtTranslation">Translation</label>
  <input id="txtTranslation" class="form__input" ng-model="phrase.translation" type="text">
  
  <button class="form__button" ng-model="loginSubmit" ng-click="addPhrase()">Add Phrase</button>
  
  <formmessage class="form-message" ng-class="{'ang-show-message' : displayFormMessage}"></formmessage>  
</form>