<form class="form" autocomplete="off">
  <div class="form-header">
    <a class="form-header__btn" href="" ng-click="$emit('closeModal', 'displayAddPhrase')">X</a>
    <h3 class="form-header__text">Add Phrase</h3>
  </div>
  
  <label class="form__label" for="txtPhraseEnglish">English</label>
  <input id="txtPhraseEnglish" class="form__input" ng-model="formAddPhrase.english" type="text"
     ng-focus="umlautFocus(undefined, undefined)">
  
  <label class="form__label" for="addPhaseTranslation">Translation</label>
  <input id="addPhaseTranslation" class="form__input" ng-model="formAddPhrase.translation" type="text"
    ng-focus="umlautFocus('formAddPhrase', 'translation', 'addPhaseTranslation')">
  
  <umlauts class="form-umlauts" input-type="verb" input-field="translation" ></umlauts>
  
  <button class="form__button" ng-model="formAddPhrase.Submit" ng-click="addPhrase()"
     ng-focus="umlautFocus(undefined, undefined)">Add Phrase</button>
  
  <formmessage class="form-message" ng-class="{'ang-show-message' : displayFormMessage}"></formmessage>  
</form>