<form class="form">
  
  <a class="form__button-close" href="" ng-click="$emit('closeModal', 'displayListWords')">X</a>
  
  <h3 class="form__heading">List Words</h3>
  
  <label class="form__label" for="selPos">Part of Speech</label>
  <select id="selPos" class="form__select" name="selPos" ng-model="lwCardPos" ng-change="changeCategory(lwCardPos);">
    <option>Select</option>
    <option>Adjective</option>
    <option>Noun</option>
    <option>Phrase</option>
    <option>Verb</option>
  </select>
  
  
  <label class="form__label" for="selCategory">Category</label>
  <select id="selCategory" class="form__select" name="selCategory">
    <option>Body</option>
    <option>Geography</option>
    <option>School</option>
    <option>Weather</option>
  </select>
  
  <div>
    
  </div>
  
<!--  <label class="form__label" for="selGender">Gender</label>
  <select id="selGender" class="form__select" name="selGender">
    <option>Masculine</option>
    <option>Feminine</option>
    <option>Neuter</option>
    <option>None</option>
  </select>-->
  
  <button class="form__button" ng-model="loginSubmit" ng-click="$emit('updateWordClick')">Update Word</button>
</form>