<form class="form">
  
  <a class="form__button-close" href="" ng-click="$emit('closeModal', 'displayListWords')">X</a>
  
  <h3 class="form__heading">List Words</h3>
  
  <label class="form__label" for="selPosList">Part of Speech</label>
  <select id="selPosList" class="form__select" name="selPosList" ng-model="wordListPos" ng-change="changeCategoryLW(wordListPos);">
    <option>Select</option>
    <option value="adjective">Adjective</option>
    <option value="noun">Noun</option>
    <option value="phrase">Phrase</option>
    <option value="verb">Verb</option>
  </select>
  
  
  <label class="form__label" for="selCategoryList"  ng-show="showCategoryWords === true">Category</label>
  <select id="selCategoryList" class="form__select" name="selCategoryList"
    ng-model="wordCategory" ng-change="getWords(wordListPos, wordCategory, true)"  ng-show="showCategoryWords === true">
    <option>Select</option>
    <option ng-repeat="option in posCategoryList" value="{{option.id}}">{{option.name}}</option>
  </select>
  
  <div class="word-list" >
    <h3>Word List</h3>
    <div class="word-list__wrap">
      <table class="word-list__table">
        <tbody>
          <tr>
            <th class="word-list__table-cell-one">English</th>
            <th class="word-list__table-cell-two">Translation</th>
            <th class="word-list__table-cell-three"></th>
          </tr>
          
          <tr ng-repeat="word in listOfWords">
            <td>{{word.english}}</td>
            <td>{{word.translation}}</td>
            <td><a href="" ng-click="$emit('findWord', $index)">{{$index}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  
</form>