<form class="form" id="frmListWords">
  <div class="form-header">
    <a class="form-header__btn" href="" ng-click="$emit('closeModal', 'displayListWords')">X</a>
    <h3 class="form-header__text">Update / Delete</h3>
  </div>
  
  <label class="form__label" for="selPosList">Part of Speech</label>
  <select id="selPosList" class="form__select" name="selPosList" ng-model="word.pos" ng-change="changeCategoryUpdate(word.pos)">
    <option>Select</option>
    <option value="adjective">Adjective</option>
    <option value="noun">Noun</option>
    <option value="phrase">Phrase</option>
    <option value="verb">Verb</option>
  </select>
  
  
  <label class="form__label" for="selCategoryList"  ng-show="showCategoryWords === true">Category</label>
  <select id="selCategoryList" class="form__select" name="selCategoryList"
    ng-model="word.category" ng-change="getWordsUpdate(word.pos, word.category)" ng-show="showCategoryWords === true">
    <option>Select</option>
    <option ng-repeat="option in posCategoriesUpdate" value="{{option.id}}">{{option.name | ucWords}}</option>
  </select>
  
  <div class="word-list" >
    <h3>Word List</h3>
    <div class="word-list__wrap">
      <table class="word-list__table">
        <tbody>
          <tr>
            <th class="word-list__table-td-translation">Translation</th>
            <th class="word-list__table-td-edit"></th>
          </tr>
          
          <tr ng-repeat="word in listOfWords">
            <td class="word-list__table-td-translation" ng-bind-html=" word.translation | trustWord"> <span class="tool" data-tip="{{word.english}}">-?-</span></td>
            <td class="word-list__table-td-edit">
              <a href="" class="btn-edit" ng-click="$emit('findItem', word.id)"></a>
              <a href="" class="btn-delete" ng-click="$emit('findItem', word.id)"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>