<!--<figure class="card__front" ng-click="$emit('cardFrontFlip', true);">
  <img class="card__img" ng-src="assets/img/{{image}}" alt="{{english}}">
      <figcaption class="card__text">{{ english }}</figcaption>
</figure>

<figure class="card__back {{gender}}" ng-click="$emit('cardBackFlip', false);">
  <img class="card__img" ng-src="assets/img/{{image}}" alt="{{translation}}">
  <figcaption class="card__text" ng-bind-html="translation"> Phrase</figcaption>
</figure>-->

<div class="card__front" ng-click="$emit('cardFrontFlip', true);">
  <p class="card__text">{{english}}</p>
</div>

<div class="card__back {{gender}}" ng-click="$emit('cardBackFlip', false);">
  <p class="card__text" ng-bind-html="translation"></p>
</div>