<form class="form register-form" name="formRegister">
  
  <a class="form__button-close" href="" ng-click="$emit('closeModal', 'displayRegister')">X</a>
  
  <h3 class="form__heading">Please Register</h3>
  
  <label class="form__label login-form__label" for="txtlearner">User</label>
  <input id="txtUser" class="form__input" type="text" ng-model="newLearner.newLearner">
  
  <label class="form__label login-form__label" for="txtPassword1">Password</label>
  <input id="txtPassword1" class="form__input" type="password" ng-model="newLearner.password1">
  
  <label class="form__label login-form__label" for="txtPassword2">Re-enter Password</label>
  <input id="txtPassword2" class="form__input" type="password" ng-model="newLearner.password2">
  
  <button class="form__button" ng-model="loginSubmit" ng-click="registerLearner()">Register</button>
  
  <formmessage class="form-message" ng-class="{'ang-show-message' : displayFormMessage}"></formmessage> 
</form>