<div class="form-umlauts">
  <div class="form-umlauts__lower" ng-class="showUpperCase ? 'ang-hide-lowercase' : 'ang-show-lowercase'">
    <a class="form-umlauts__button" ng-click="showUpperCase = true"><img src="assets/img/up-arrow.svg" alt=""></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&auml;')"><img src="assets/img/lower-a-uml.svg" alt="lower a umlaut"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&ouml;')"><img src="assets/img/lower-o-uml.svg" alt="lower o umlaut"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&uuml;')"><img src="assets/img/lower-u-uml.svg" alt="lower u umlaut"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&uml;')"><img src="assets/img/umlaut.svg" alt="umlaut"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&szlig;')"><img src="assets/img/sset.svg" alt="sset"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&middot;')"><img src="assets/img/mid-dot.svg" alt="mid dot"></a>
  </div>

  <div class="form-umlauts__upper" ng-class="showUpperCase ? 'ang-show-uppercase' : 'ang-hide-uppercase'">
    <a class="form-umlauts__button" ng-click="showUpperCase = false"><img src="assets/img/down-arrow.svg" alt=""></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&Auml;')"><img src="assets/img/upper-a-uml.svg" alt="upper a umlaut"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&Ouml;')"><img src="assets/img/upper-o-uml.svg" alt="upper o umlaut"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&Uuml;')"><img src="assets/img/upper-u-uml.svg" alt="upper u umlaut"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&uml;')"><img src="assets/img/umlaut.svg" alt="umlaut"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&szlig;')"><img src="assets/img/sset.svg" alt="sset"></a>
    <a class="form-umlauts__button" ng-click="addCharacter('word', 'translation', '&middot;')"><img src="assets/img/mid-dot.svg" alt="mid dot"></a>
  </div>
</div>