<form class="form" autocomplete="off">
  <div class="form-header">
    <a class="form-header__btn" href="" ng-click="$emit('closeModal', 'displayUpdateVerb')">&larr;</a>
    <h3 class="form-header__text">Update Verb</h3>
  </div>

  <label class="form__label--check" for="upVerbSeparable">Separable</label>
  <input id="upVerbSeparable" class="form__check" type="checkbox" ng-model="formUpdateVerb.separable"
    ng-focus="umlautFocus(undefined, undefined, '')">
  
  <label class="form__label" for="upVerbEnglish">English</label>
  <input id="upVerbEnglish" class="form__input" type="text" ng-model="formUpdateVerb.english"
    ng-focus="umlautFocus(undefined, undefined, '')">
  
  <label  class="form__label" for="upVerbTranslation">Translation - {{formUpdateVerb.infinitive}}</label>
  <input id="upVerbTranslation" class="form__input" type="text" ng-model="formUpdateVerb.translation"
    ng-focus="umlautFocus('formUpdateVerb', 'translation', 'upVerbTranslation')"
    ng-keyup="getInfinitive('formUpdateVerb')" ng-blur="getInfinitive('formUpdateVerb')">
  
  <umlauts class="form-umlauts" input-type="verb" input-field="translation" ></umlauts>
  
  <label class="form__label" for="upVerbExample">Example</label>
  <input id="upVerbExample" class="form__input" type="text" ng-model="formUpdateVerb.example"
    ng-focus="umlautFocus('formUpdateVerb', 'example', 'upVerbExample')">
  
  <label class="form__label--verb" for="upVerbIch">ich</label>
  <input id="upVerbIch" class="form__input--verb" type="text" ng-model="formUpdateVerb.ich"
   ng-focus="umlautFocus('formUpdateVerb', 'ich', 'upVerbIch')">
  
  <label class="form__label--verb" for="upVerbDu">du</label>
  <input id="upVerbDu" class="form__input--verb" type="text" ng-model="formUpdateVerb.du"
    ng-focus="umlautFocus('formUpdateVerb', 'du', 'upVerbDu')">
  
  <label class="form__label--verb" for="upVerbErEsSie">er <span class="tool" data-tip="er, sie, es">?</span></label>
  <input id="upVerbErEsSie" class="form__input--verb" type="text" ng-model="formUpdateVerb.er_sie_es"
    ng-focus="umlautFocus('formUpdateVerb', 'er_sie_es', 'upVerbErEsSie')">
  
  <label class="form__label--verb" for="upVerbWir">wir</label>
  <input id="upVerbWir" class="form__input--verb" type="text" ng-model="formUpdateVerb.wir"
    ng-focus="umlautFocus('formUpdateVerb', 'wir', 'upVerbWir')">
  
  <label class="form__label--verb" for="upVerbIhr">ihr</label>
  <input id="upVerbIhr" class="form__input--verb" type="text" ng-model="formUpdateVerb.ihr"
    ng-focus="umlautFocus('formUpdateVerb', 'ihr', 'upVerbIhr')">
  
  <label class="form__label--verb" for="upVerbSieSie">Sie <span class="tool" data-tip="sie &amp; Sie">?</span></label>
  <input id="upVerbSieSie" class="form__input--verb" type="text" ng-model="formUpdateVerb.sie_sie"
    ng-focus="umlautFocus('formUpdateVerb', 'sie_sie', 'upVerbSieSie')">  

  <button  class="form__button" ng-model="formUpdateVerb.submit" ng-click="updateVerb()">Update Verb</button>
  
  <formmessage class="form-message" ng-class="{'ang-show-message' : displayFormMessage}"></formmessage>
</form>