<form class="form">
  <div class="form-header">
    <a class="form-header__btn" href="" ng-click="$emit('closeModal', 'displayUpdateNoun')">&larr;</a>
    <h3 class="form-header__text">Update Noun</h3>
  </div>
  
  <label class="form__label" for="upNounCategory">Category</label>
  <select id="upNounCategory" class="form__select" name="selCategory"
    ng-model="formUpdateNoun.category" ng-focus="umlautFocus(undefined, undefined)">
    <option ng-repeat="option in posCategoriesUpdate" value="{{option.id}}">{{option.name | ucWords}}</option>
  </select>  
  
  <label class="form__label" for="upNounEnglish">English</label>
  <input id="upNounEnglish" class="form__input" type="text" ng-model="formUpdateNoun.english"
    ng-focus="umlautFocus(undefined, undefined, '')">
  
  <label  class="form__label" for="upNounTranslation">Translation - {{formUpdateNoun.base}}</label>
  <input id="upNounTranslation" class="form__input" type="text" ng-model="formUpdateNoun.translation"
    ng-focus="umlautFocus('formUpdateNoun', 'translation', 'upNounTranslation')"
    ng-keyup="getArticle('formUpdateNoun');getBase('formUpdateNoun')" ng-blur="getBase('formUpdateNoun')">
  
  <umlauts class="form-umlauts" input-type="word" input-field="translation" ></umlauts>
  
  <label class="form__label" for="upNounExample">Example</label>
  <input id="upNounExample" class="form__input" type="text" ng-model="formUpdateNoun.example"
    ng-focus="umlautFocus('formUpdateNoun', 'example', 'upNounExample')">
  
  <label class="form__label" for="upNounImg">Image</label>
  <input id="upNounImg" class="form__input" type="text" ng-model="formUpdateNoun.image"
    ng-focus="umlautFocus(undefined, undefined, '')">
  
  <label class="form__label" for="upNounGender">Gender</label>
  <select id="upNounGender" class="form__select" name="selGender" ng-model="formUpdateNoun.gender">
    <option ng-repeat="option in genderCategories" value="{{option.id}}">{{option.name | ucWords}}</option>
  </select>
  
  <button class="form__button" ng-model="formUpdateNoun.submit" ng-click="updateNoun()">Update Noun</button>
  
  <formmessage class="form-message" ng-class="{'ang-show-message' : displayFormMessage}"></formmessage>  
</form>