<div ng-switch="image">
  <div class="card__front" ng-switch-default>
    <h3>{{ english }}</h3>
    <figure class="card__figure">
      <img class="card__img" ng-src="assets/img/{{image}}" alt="{{english}}">
      <figcaption class="card__caption">{{ english }}</figcaption>
    </figure>

    <span class="card__button" ng-click="$emit('cardFrontFlip', true);">Flip</span>
  </div>
  
  <div class="card__front" ng-switch-when="none">
    <div class="card__text-wrap">
      <p class="card__text">{{english}}</p>
    </div>

    <span class="card__button" ng-click="$emit('cardFrontFlip', true);">Flip</span>
  </div>
</div>

<div class="card__back--verb {{gender}}">
  <h3 ng-bind-html="translation"></h3>
  
  <table class="card__table">
    <tr>
      <th>Person</th>
      <th>Present</th>
    </tr>
    <tr>
      <td class="card__table-col-one">ich</td>
      <td class="card__table-col-two" ng-bind-html="ich"></td>
    </tr>
    <tr>
      <td class="card__table-col-one">du</td>
      <td class="card__table-col-two" ng-bind-html="du"></td>
    </tr>
    <tr>
      <td class="card__table-col-one">er, sie, es</td>
      <td class="card__table-col-two" ng-bind-html="er_sie_es"></td>
    </tr>
    <tr>
      <td class="card__table-col-one">wir</td>
      <td class="card__table-col-two" ng-bind-html="wir"></td>
    </tr>
    <tr>
      <td class="card__table-col-one">ihr</td>
      <td class="card__table-col-two" ng-bind-html="ihr"></td>
    </tr>
    <tr>
      <td class="card__table-col-one">sie, Sie</td>
      <td class="card__table-col-two" ng-bind-html="sie_Sie"></td>
    </tr>
  </table>
  
  <p class="card__example" ng-bind-html="example"></p>
  
  <span class="card__button" ng-click="$emit('cardBackFlip', false);">Flip</span>
</div>