/* 
    File     : _activity.scss
    Date     : Jan 21, 2017
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.activity {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 500;
  
  background: $activity-bg-color;
  height: 100%;
  width: 100%;
  
    
  
  &__wrap {
    margin: 0 auto;
    
    @media #{$brk-sm} {
      max-width: 576px;
    }

    @media #{$brk-md} {
      max-width: 720px;
    }
  }
  
  &__header {
    position: relative;
    margin-bottom: 15px;
  }
  
  &__close {
    position: absolute;
    left: 0;
    top: 0;
    
    background: $activity-btn-color;
    border-radius: $brd-radius; 
    display: block;
    font-weight: $font-weight--bold;
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    
    &:link, &:visited, &:hover, &:active {
      color: $activity-txt-color;
    }
  }
  
  &__heading {
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    
    @media #{$brk-md} {
      margin:10px 10px 20px 10px;
    }
  }
}


.activity__loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  
  background: $background-color;
  height: 100%;
  width: 100%;
  
  img { 
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
  }
}