/* 
    File     : _card-buttons.scss
    Date     : Jan 23, 2017
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.activity-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.activity_buttons__btn {
  @extend %btn-activity;
}