/* 
    File     : _activity.scss
    Date     : Jan 21, 2017
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.activity {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 500;
  
  background: $activity-bg-color;
  height: 100%;
  width: 100%;
  
  
  @media #{$brk-md} {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    
  
  &__wrap {
    background: $light-grey;
    border-radius: $brd-radius;
    height: 100%;
    margin: 0 auto;
    
    @media #{$brk-sm} {
      max-width: 576px;
    }

    @media #{$brk-md} {
      margin-top: 10px;
    }
    
    @media #{$brk-md} {
      position: relative;
      height: auto;
      max-width: 800px;
      min-height: 500px;
      width: 90%;
    }
  }
  
  &__header {
    position: absolute;
    top: 5px;
    width: 100%;
    
    margin-bottom: 20px;
    
    @media #{$brk-md} {
      padding-top:10px;
      position: static;
      top: auto;
    }
  }
  
  &__close {
    position: absolute;
    left: 0;
    top: 0;
    
    background: $activity-btn-color;
    border-radius: $brd-radius; 
    display: block;
    font-weight: $font-weight--bold;
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    
    &:link, &:visited, &:hover, &:active {
      color: $activity-txt-color;
    }
    
    @media #{$brk-md} {
      top: 10px;
    }
  }
  
  &__heading {
    position: absolute;
    left: 55px;
    top: 0;
    
    height: 40px;
    line-height: 40px;
    text-align: center;
    
    @media #{$brk-md} {
      position: static;
    }
  }
}


.activity__loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  
  background: $background-color;
  height: 100%;
  width: 100%;
  
  img { 
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
  }
}