/* 
    File     : _card-buttons.scss
    Date     : Jan 23, 2017
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.activity-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.activity_buttons__btn {
  background: $governor-bay;
  border: 0;
  border-radius: $brd-radius;
  color: $light-grey ;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 3px;
  padding: 0 7px;
  text-align: center;
  text-decoration: none;
}