/* 
    File     : _buttons.scss
    Date     : Oct 22, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/


.btn-nav {
  @extend %btn-admin;
}


.btn-edit {
  @extend %btn-admin;
  background: url('../img/icons/edit.svg') 4px 4px / 21px 21px no-repeat $cold-purple;
}

.btn-delete {
  @extend %btn-admin;
  background: url('../img/icons/delete.svg') 4px 4px / 21px 21px no-repeat $cold-purple;
}