/* 
    File     : _buttons.scss
    Date     : Oct 22, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/


.btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  
  background: $cold-purple;
  border-radius: $brd-radius;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}