/* 
    File     : _buttons.scss
    Date     : Oct 22, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/


.close-modal-wrap {
  @extend %wrap-max-width;
  
  text-align: right;
  
  padding: 10px 20px 10px 10px;
  
  a {
    background: $cold-purple;
    border-radius: $brd-radius;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 40px;
  }
}
