/* 
    File     : _card.scss
    Date     : Sep 29, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.cards-container {
  padding-top: 60px;
  
  @media #{$brk-md} {
    padding-top: 0;
  }
}
.card {
  height: 350px;
  margin: 0 auto 20px auto;
  position: relative;
  text-align: center;
  width: 300px;
  
  @media #{$brk-sm} {
    height: 480px;
    width: 340px;
    margin-bottom: 30px;
  }
}

.card__front {
  @extend %card-display;
  padding: 10px;
  transform: rotateX(0) rotateY(0);
  
  @media #{$brk-sm} {
    padding: 20px;
  }
}

.card__back {
  @extend %card-display;
  @extend %card-gender;
  
  padding: 10px;
  transform: rotateY(-179deg);
  
  @media #{$brk-sm} {
    padding: 20px;
  }
  
  &--verb {
    @extend %card-display;
    @extend %card-gender;
    
    padding: 10px;
    transform: rotateY(-179deg);
    
    @media #{$brk-sm} {
      padding-top: 20px;
    }
  }
  
}

.card__figure {
  max-width: 300px;
  margin: 0 0 10px 0;
  
  @extend %change-card-trans;
}

.card__caption {
  padding-top: 10px;
  font-size: 1.25em;
}


.card__img {
  border-radius: 5px;
  height: 210px;
  width: 210px;
  
  @media #{$brk-sm} {
    height: 298px;
    width: 298px;
  }
}

.card__text-wrap {
  background: $card-text-bg-color;
  border: 1px solid $card-border-color;
  border-radius: $brd-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 10px auto;
  height: 210px;
  width: 210px;
  
  
  @extend %change-card-trans;
  
  @media #{$brk-sm} {
    height: 298px;
    width: 298px;
  }
}

.card__text {
  font-size: 1.25em;
  font-weight: $font-weight--bold;
  
  @extend %change-card-trans;
}

.card__example {
  @extend %change-card-trans;
}

.card__heading {
  margin-bottom: 10px;
  
  @media #{$brk-sm} {
    margin-bottom: 20px;
  }
}

.card__table {
  background: $card-text-bg-color;
  border: 1px solid $card-border-color;
  border-radius: 5px;
  
  font-size: 1.1em;
  margin: 0 auto 10px auto;
  padding: 5px;
  text-align: left;
  width: 270px;
  
  @extend %change-card-trans;
  
  @media #{$brk-sm} {
    margin-bottom: 20px;
    width: 298px;
  }
  
  tr:nth-child(even) {
    background: $table-row-alt-color;
  }
}

.card__table-col-one {
  padding: 2px 0 2px 3px;
  width: 35%;
}

.card__table-col-two { 
  padding: 2px 0 2px 3px;
}

.card__button {
  @include text(1.7em);
  position: absolute;
  bottom: 10px;
  right: 10px;
  
  cursor: pointer;
  display: inline-block;
  font-family: $font-family--secondary;
  letter-spacing: 1px;
  padding: 10px 7px;
}


.card.js-flip-card .card__front { 
  transform: rotateY(179deg);
}

.card.js-flip-card .card__back, .card.js-flip-card .card__back--verb {
  transform: rotateY(0deg);
}



.js-change-card .card__text-wrap, .js-change-card .card__text,
.js-change-card .card__example,
.js-change-card .card__figure,
.js-change-card .card__table {
  //opacity: 0;
  //visibility: hidden;
  animation: show-change-card-in .5s linear forwards;
}

// .js-change-card .card__text


// Form message animation
@keyframes show-change-card-in {
  0% {
    opacity: 1;
  }
  
  25% {
    opacity: 0;
  }
  
  75% {
    opacity: 0;
  }

  100% {
    opacity: 1; 
  }
}