/* 
    File     : _forms.scss
    Date     : Oct 19, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.form {
  background: $form-color;
  border-radius: $brd-radius;  
  margin: 20px auto 0 auto;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 300px;
}

.form__heading {
  @include text($size: em(24px), $color: $form-heading-color);
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.form__label {
  @include text($size: em(18px), $color: $form-label-color);
  display: block;
  margin-bottom: 10px;
  
  &--check {
    @include text($size: em(18px), $color: $form-label-color);
    display: inline-block;
    margin-bottom: 15px;
    width: 100px;
  }
}

.form__check {
  line-height: 35px;
}

.form__input {
  background: $form-widget-bg-color;
  border: 1px solid $form-border-color;
  border-radius: $brd-radius;
  display: block;
  height: 35px;
  margin-bottom: 10px;
  padding: 0 5px;
  width: 100%;
}

.form__select {
  background: $form-widget-bg-color;
  border: 1px solid $form-border-color;
  border-radius: $brd-radius;
  height: 35px;
  margin-bottom: 10px;
  width: 100%;
}

.form__button {
  background: $form-button-bg-color;
  border-color: $form-border-color;
  border-radius: $brd-radius;
  color: $form-button-color;
  font-weight: bold;
  height: 35px;
  margin-top: 10px;
  width: 100%;
}


.form-message {
  position: absolute;
  left: 0;
  top: -50px;
  
  background: lightsalmon;
  border-radius: $brd-radius $brd-radius 0 0;
  display: none;
  padding: 5px 10px;
  width: 100%;
}


.form-message.ang-show-message {
  display: block;
  animation: show-message 5s linear backwards;
}

.form-umlauts {
  //background: yellow;
  height: 35px;
  margin-bottom: 10px;
  position: relative;
  
  &__lower {
    position: absolute;
    left: 0;
    top: 0;
    
    visibility: visible;
  }
  
  &__upper {
    position: absolute;
    left: 0;
    top: 0;
    
    visibility: hidden;
  }
  
}

.form-umlauts__button {
  display: inline-block;
  height: 35px;
  width: 35px;
}



// Form message animation
@keyframes show-message {
  0% {
    top: -50px;
  }
  
  10% {
    top: 0;
  }
  
  90% {
    top: 0;
  }

  100% {
    top: -50px; 
  }
}