/* 
    File     : _main-header.scss
    Date     : Sep 30, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.main-header {
  background: #efefef;
  margin-bottom: em(20px);
  
  &__wrap {
    @extend %wrap-max-width;
    display: flex;
    flex-flow: row wrap;
    
    @media #{$brk-md} {
      flex-wrap: nowrap;
      text-align: right;
    }
   }
  
  &__logo {
    flex-basis: 80px;
    order: 1;
    
    height: 60px;
    padding: 0 10px;
    width: 60px;
  }
  
  &__name {
    flex: 1;
    order: 2;
    
    font-size: 1.5em;
    font-weight: bold;
    line-height: 60px;
        
    @media #{$brk-md} {
      flex: 0 1 200px;
    }
  }
  
  &__nav {
    flex-basis: 100%;
    order: 4;
    
    height: 40px;
    width: 100%;
    
    @media #{$brk-md} {
      flex-basis: auto;
      order: 3;
    }
  }
  
  &__settings {
    position: relative;
    z-index: 50;
    flex-basis: 60px;
    order: 3;
    
    height: 60px;
    width: 60px;
    
    
    padding: 10px;
    
    @media #{$brk-md} {
      order: 4;
    }
  }
  
  &__settings-icon {
    display: block;
    height: 40px;
    width: 40px;
  }
  
}

.main-menu__item-current {
  a {
    color: black;
  }
}