/* 
    File     : _main-footer.scss
    Date     : Oct 4, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.main-footer {
  background: $header-footer-bg-color;
  color: $header-text;
  letter-spacing: 1px;
  text-align: center;
  
  &__wrap {
    @extend %wrap-max-width;
    height: 60px;
    line-height: 60px;
  }
}