/* 
    File     : _main-menu.scss
    Date     : Oct 4, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.main-menu {
  text-align: center;
  
  @media #{$brk-sm} {
    text-align: right;
  }
  
  @media #{$brk-md} {
    height: 50px;
  }
  
  &__item {
    display: inline-block;
    font-weight: $font-weight--bold;
    padding: 0 5px;
    position: relative;
    //width: 70px;
    
    @media #{$brk-md} {
      padding-top: 5px;
    }
    
    a {
      display: inline-block;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      width: 100%;

      &:link, &:visited {
        color: $link-color;
      }

      &:hover, &:active {
        color: $link-hover-color;
      }
    }
  }
}


.sub-menu {
  background: $header-footer-bg-color;
  position: absolute;
  left: 0;
  top: 40px;

  list-style: none;
  padding-left: 10px;
  padding-right: 7px;
  
  @media #{$brk-md} {
    top: 60px;
  }
  
  &__item {
    min-width: 100px;
    text-align: left;
    
    a {
      text-align: left;
    }
  }
 }