/* 
    File     : _options-menu.scss
    Date     : Oct 21, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.options-menu {
  position: absolute;
  right: 0px;
  top: 100px;
  
  
  list-style: none;
  padding: 5px;
  width: 200px;
  
  background: $header-footer-bg-color; 
  
  @media #{$brk-md} {
    top: 60px;
  }
  
  
  &__item {
    a {
      display: block;
      font-weight: $font-weight--bold;
      padding: 10px;
      text-align: right;
      text-decoration: none;
      
      &:link, &:visited {
        color: $link-color;
      }
      
      &:hover {
        background: $link-hover-bg-color;
        color: $header-footer-bg-color;
      }
    }
  }
}

