/* 
    File     : _options-menu.scss
    Date     : Oct 21, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.options-menu {
  background: $header-footer-bg-color;
  list-style: none;
  margin: 0 auto 20px auto;
  padding: 5px;
  width: 200px;
  
  @media #{$brk-md} {
    top: 60px;
  }
  
  
  &__item {
    a {
      display: block;
      font-weight: $font-weight--bold;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      
      &:link, &:visited {
        color: $link-color;
      }
      
      &:hover {
        background: $link-hover-bg-color;
        color: $header-footer-bg-color;
      }
    }
  }
}