/* 
    File     : _sentences.scss
    Date     : 08 Feb 2017
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.sentences {
  display: flex;
  flex-flow: column nowrap;
  
  border-radius: $brd-radius;
  height: 100%;
  list-style: none;
  margin: 0 auto 0px auto;
  max-width: 580px;
  padding-bottom: 5px;
  padding-top: 60px;
  text-align: center;
  
  @media #{$brk-md} {
    display: block;
  }
  
  @media #{$brk-md} {
    padding-top: 0;
  }
  

  &__words {
    flex: 1;
    
    @media #{$brk-md} {
      margin-bottom: 20px;
    }
  }
  
  &__wrap {
    background: $bg-sentences-wrap;
    border-radius: $brd-radius;
    margin: 0 auto 10px auto; 
    min-height: 100px;
    padding: 5px 10px;
    width: 95%;
  }
  
  &__item {
    @include text(.90em);
    
    background: $bg-wordmatch-item;
    border-radius: $brd-radius;
    cursor: pointer;
    display: inline-block;
    font-weight: $font-weight--bold;
    margin: 3px 2px;
    min-width: 50px;
    padding: 6px 5px;
    text-align: center;
    
    @media #{$brk-md} {
      @include text(1.1em);
    }
  }
  
  &__message-text {
    margin-bottom: 20px;
  }
  
  &__message-button {
    @extend %btn-activity;
  }
}


// Check answer area
.sentences__check {
  
  @media #{$brk-md} {
    display: flex;
  }
}

.sentences__solution {
  min-height: 100px;
  padding: 5px;
  
  @media #{$brk-md} {
    flex: 1;
    margin-bottom: 15px;
  }
}

.sentences__check-btns {
  min-height: 40px;
  
  @media #{$brk-md} {
    flex: 0 0 200px;
    height: 40px;
  }
}


//
.sentences__item.on {
  background: lightblue;
}


.sentences__message.start-ani {
  @extend %final-msg-display;
  
  opacity: 0;
  animation: show-final-msg 2s linear forwards;
}

.sentences__message.start-ani .sentences__message-text {
  //font-size: .5em;
  
}




// Form message animation
@keyframes show-final-msg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1; 
  }
}