/* 
    File     : _tooltip.scss
    Date     : Dec 10, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.tool {
  cursor: help;
  position: relative;
}


.tool::before,
.tool::after {
  position: absolute;
  left: 50%;
  opacity: .5;
  z-index: -100;
}

.tool:hover::before,
.tool:hover::after {
  opacity: 1;
  z-index: 5000;
}


.tool::before {
  border-style: solid;
  border-width: 1em .75em 0 .75em;
  border-color: #343434 transparent transparent transparent;
  bottom: 100%;
  margin-left: -.5em;
  content: "";
}

.tool::after {
  background: #343434;
  border-radius: .25em;
  bottom: 160%;
  color: #efefef;
  margin-left: -4em;
  padding: 1em;
  width: 10em;
  content: attr(data-tip);
}