/* 
    File     : _word-list.scss
    Date     : Nov 28, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.word-list {
  
  margin-bottom: 20px;
  
  &__wrap {
    background: $word-list-bg-color;
    border-radius: $brd-radius;
    height: 250px;
    overflow: auto;
    padding: 5px;
    margin-bottom: 20px;
    
    @media #{$brk-h-sm} {
      height: 350px;
    }
    
    @media #{$brk-h-md} {
      height: 500px;
    }
  }
}

.word-list__table {
  width: 100%;
  
  tr {
    text-align: left;
  }
  
  td {
    border: solid #000 1px;
  }
  
}


.word-list__table-cell-one {
  width: 47%;
}

.word-list__table-cell-two {
  width: 47%;
}

.word-list__table-cell-three {
  width: 6%;
}