/* 
    File     : _word-list.scss
    Date     : Nov 28, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.word-list {
  
  margin-bottom: 20px;
  
  &__wrap {
    background: $word-list-bg-color;
    border-radius: $brd-radius;
    height: 250px;
    overflow: auto;
    padding: 5px;
    margin-bottom: 20px;
    
    @media #{$brk-h-sm} {
      height: 350px;
    }
    
    @media #{$brk-h-md} {
      height: 400px;
    }
  }
}

.word-list__table {
  border-collapse: collapse;
  width: 100%;
  
  tr {
    text-align: left;
  }
  
  tr:nth-child(even) {
    background: $table-row-alt-color;
  }
  
}

.word-list__table-td-edit {
  padding: 5px 0 5px 5px;
  width: 10%;
}

.word-list__table-td-translation {
  padding: 5px 0 5px 5px;
  width: 90%;
}

.word-list__table-td-translation__full {
  padding: 5px 0 5px 5px;
  width: 100%;
}