/* 
    File     : _words.scss
    Date     : Jan 8, 2017
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

.words {
  background: transparent;
  border-radius: $brd-radius;
  list-style: none;
  margin: 0 auto 20px auto;
  max-width: 580px;
  padding-top: 60px;
  text-align: center;
  
  @media #{$brk-md} {
    padding-top: 0;
  }
  
  &__heading {
    margin-bottom: 20px;
  }
  
  &__wrap {    
    margin-bottom: 10px; 
    min-height: 100px;
    padding: 5px 10px;
    
    
  }
  
  &__item {
    @include text(.95em);
    
    background: $bg-wordmatch-item;
    border-radius: $brd-radius;
    cursor: pointer;
    display: inline-block;
    font-weight: $font-weight--bold;
    margin: 3px 2px;
    min-width: 50px;
    padding: 6px 3px;
    text-align: center;
    
    @media #{$brk-md} {
      @include text(1.1em);
    }
  }
  
  &__message-text {
    margin-bottom: 20px;
  }
  
  &__message-button {
    @extend %btn-activity;
  }
}

.words__item.on {
  background: lightblue;
}


.words__message.start-ani {
  @extend %final-msg-display;
  
  opacity: 0;
  animation: show-final-msg 2s linear forwards;
}

.words__message.start-ani .words__message-text {
  //font-size: .5em;
  
}




// Form message animation
@keyframes show-final-msg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1; 
  }
}