/* 
    File     : states.scss
    Date     : Oct 17, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/

// Show and hide options
.ang-show-options {
  visibility: visible;
}

.ang-hide-options {
  visibility: hidden;
}


// Show  and hide Uppercase and lowercase umlauts
.ang-show-lowercase, .ang-show-uppercase {
  visibility: visible;
}

.ang-hide-lowercase, .ang-hide-uppercase {
  visibility: hidden;
}