/* 
    File     : _layout.scss
    Date     : Sep 28, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.home {
  
  &__image {
    display: block;
    margin: 0 auto em(20px) auto;
    max-width: 250px;
    
    @media #{$brk-sm} {
      margin-bottom: em(25px);
      max-width: 400px;
    }
  }
}


.flashcards {
  margin: 0 auto;
  max-width: 800px;
}

.main-content__wrap {
  @extend %wrap-max-width;
}


// Modal
login, register, add-adjective, add-category, add-noun, add-phrase, add-verb, list-words,
update-adjective, update-category, update-noun, update-phrase, update-verb, update-word{
  display: none;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  
  background: rgba(225, 225, 225, .9);
  display: block;
  height: 100%;
  width: 100%;
  
}


.modal1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 150;
  
  background: rgba(225, 225, 225, .9);
  display: block;
  height: 100%;
  width: 100%;
  
}