/* 
    File     : _layout.scss
    Date     : Sep 28, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}



.flashcards {
  //padding: 15px;
  margin: 0 auto;
  
  max-width: 800px;
}

.main-content__wrap {
  @extend %wrap-max-width;
}

// Modal

login, register, addword, updateword, addcategory {
  display: none;
}



/*login.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  
  background: rgba(225, 225, 225, .9);
  display: block;
  height: 100%;
  width: 100%;
  
}*/

.modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  
  background: rgba(225, 225, 225, .9);
  display: block;
  height: 100%;
  width: 100%;
  
}