<!--
  File     : cards.html
  Date     : Sep 28, 2016
  Author   : Jaymes Young
-->
<section class="flashcards">
  <h2>German Cards</h2>
  
  <form class="cards-form">
    <h3>Select your Cards</h3>
    
    <label class="cards-form__label" for="flashcard-pos">Part of Speech: </label>
    <select id="flashcard-type" class="cards-form__select" ng-model="cardPos" ng-change="changeCategory(cardPos);">
      <option value="adjective">Adjective</option>
      <option value="noun">Noun</option>
      <option value="verb">Verb</option>
      <option value="phrase">Phrase</option>
    </select>
    <br>
    <label class="cards-form__label" for="flashcard-type">Category: </label>
    <select id="flashcard-type" class="cards-form__select" ng-model="cardCategory" ng-change="getCards(cardPos, cardCategory)">
      <option ng-repeat="option in posCategory" value="{{option.id}}">{{option.name}}</option>
    </select>
  </form>
  
  <div class="card" ng-class="{'js-flip-card' : flip}">
    <figure class="card__front" ng-click="flip = true; test='flip'">
      <img class="card__img" ng-src="assets/img/{{image}}" alt="{{english}}">
<!--      <figcaption class="card__text">{{ english }}</figcaption>-->
    </figure>

    
    
    <div ng-switch="cardPos">
<!--      <figure class="card__back {{gender}}" ng-click="$emit('cardBackFlip', false); test='unflip'" ng-switch-when="verb">
        <img class="card__img" ng-src="assets/img/{{image}}" alt="{{translation}}">
        <figcaption class="card__text" ng-bind-html="translation"></figcaption>
      </figure>-->
      
      <div class="card__back--verb {{gender}}" ng-click="$emit('cardBackFlip', false)" ng-switch-when="verb">
        <h3>{{translation}}</h3>
        <table class="card__table">
          <tr>
            <th>Person</th>
            <th>Present</th>
          </tr>
          <tr>
            <td class="card__table-col-one">ich</td>
            <td class="card__table-col-two">{{ich}}</td>
          </tr>
          <tr>
            <td class="card__table-col-one">du</td>
            <td class="card__table-col-two">{{du}}</td>
          </tr>
          <tr>
            <td class="card__table-col-one">er, sie, es</td>
            <td class="card__table-col-two">{{er_sie_es}}</td>
          </tr>
          <tr>
            <td class="card__table-col-one">wir</td>
            <td class="card__table-col-two">{{wir}}</td>
          </tr>
          <tr>
            <td class="card__table-col-one">ihr</td>
            <td class="card__table-col-two">{{ihr}}</td>
          </tr>
          <tr>
            <td class="card__table-col-one">sie, Sie</td>
            <td class="card__table-col-two">{{sie_Sie}}</td>
          </tr>
        </table>
      </div>
      
      <figure class="card__back {{gender}}" ng-click="$emit('cardBackFlip', false);" ng-switch-default>
        <img class="card__img" ng-src="assets/img/{{image}}" alt="{{translation}}">
        <figcaption class="card__text" ng-bind-html="translation"></figcaption>
      </figure>
    </div>
    
  </div>
<!-- on click set flip to false -->

  <div class="cards-controls">
    <button class="cards-controls__btn" ng-click="prevCard()">Prev</button>
    <span>{{currentCard}} of {{totalCards}}</span>
    <button class="cards-controls__btn" ng-click="nextCard()">Next</button><br><br>
    <progress value="{{currentCard}}" max="{{totalCards}}"></progress>
  </div>
 
</section>