<!--
  File     : words.html
  Date     : 08 Jan 2016
  Author   : Jaymes Young
-->
<section class="flashcards">
  <h1>{{language | ucWords}} Sentences</h1>
  
  <div ng-hide="language === 'dutch'">
    <h3>Sentences</h3>

    <div class="activity-buttons">
      <a href="" class="activity_buttons__btn" ng-repeat="option in sentenceOptions" ng-click="getSentence(0)" ng-bind-html="option.name | trustWord"></a>
    </div>
  </div>
  
  <div ng-if="language === 'dutch'">
    <img class="home__image" src="assets/img/flashcard-dutch-icon.svg" alt="flashcard image">
  </div>
  
  <div class="activity" ng-show="showSentences === true">
    
    <div class="activity__wrap">
      <header class="activity__header">
        <a href="" class="activity__close" ng-click="showSentences = false; finalMessage = false">X</a>
        <h2 class="activity__heading">Create the Sentence</h2>
      </header>

      <div class="sentences">
        
        <div class="sentences__words">
          <h3>{{crrntSentence.sentence}}</h3>
          <ul class="sentences__wrap">
            <li class="sentences__item" ng-class="{'on':item.clicked}" ng-repeat="word in newSentence"
              ng-click="item.clicked = true; wordsClicked.sentenceWrdClk($index)">
              <span ng-bind-html="word.word | trustWord"></span>
            </li>
          </ul>

          <ul class="sentences__wrap">
            <li class="sentences__item" ng-class="{'on':item.clicked}"
              ng-repeat="word in crrntSentence.listOfWords" ng-click="item.clicked = true; wordsClicked.listWrdClk($index)">
              <span ng-bind-html="word.word | trustWord"></span>
            </li>
          </ul>
        </div>
        
        <div class="sentences__check">
          <div class="sentences__solution">
            <p ng-show="showAnswerCorrect"><b>Correct</b></p>
            <p ng-show="showAnswerIncorrect"><b>Incorrect</b><br>{{crrntSentence.translation}}</p>
          </div>

          <div class="sentences__check-btns">
            <a href="" ng-click="checkSentence()" ng-show="showCheck">Check</a>
            <a href="" ng-click="getNextSentence()" ng-show="showContinue">Continue</a>
            <a href="" ng-click="finalMessage = true" ng-show="showFinish">Finish</a>
          </div>
        </div>
        
        <div class="sentences__message" ng-class="{'start-ani' : 'finalMessage'}"  ng-show="finalMessage" >
          <h3 class="sentences__message-text">{{ message }}<br>Play Again?</h3>
          <p>
            Nice Job!
<!--            <a href="" class="sentences__message-button" ng-click="getListOfWords('adjective'); finalMessage = false">Adjectives</a>
            <a href="" class="sentences__message-button" ng-click="getListOfWords('noun'); finalMessage = false">Nouns</a>
            <a href="" class="sentences__message-button" ng-click="getListOfWords('verb'); finalMessage = false">Verbs</a>-->
          </p>
        </div>

      </div><!-- End words -->
        
    </div><!-- End wrap -->

  </div><!-- End activity -->
  
</section>